*{
    padding: 0;
    margin: 0;
    
}
body{
    margin: auto 5px;
    background-color:lightblue;
}
.nav__bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background:deepskyblue;
    height: 55px; 
    
}
.nav__btn{
    font-family: Georgia;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 200px;
}
.nav__btn:hover{
 background:springgreen;
 
}
a{
    text-decoration: none;
    color: navy;  
    
}
.head{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    text-decoration: none;
    height: 50vh;
}
img{
    height: 50%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 2px solid blueviolet;
}
.myimg{
    
    text-align: left;
}
.description{
    background-color:lightblue;
    align-items: center;
    line-height: 100px;
    
}
.contentclass{
     text-align: center;
     line-height:12vh;
     padding-left: 10%;
     padding-right: 10%;
     padding-bottom: 10%;
    
}
.content{
    margin-bottom: 15px;
    
}
.title{
    border:1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
}
.title h3{
    font-size: 2rem;
    color: forestgreen;
    font-family:Georgia;
}
.titlediscription{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.6s ease;
    padding-top: 1.4%;
}
.titlediscription ul{
    line-height: 8vh;
    text-align:left;
    font-size:1.2rem;
    border: 1px solid green;
    border-radius: 15px;
    font-family: georgia;
    padding-left: 5px;
}
.titlediscription #Academic{
    height: 50vh;  
}
.titlediscription li{
    list-style:circle;
}
.content.active .titlediscription{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.content.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.7s ease-in;
}
.footer{
    background-color:blue;
    height: 50px;
    text-align: center;
    padding-top: 25px;
   
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}