*{
    padding: 0;
    margin: 0;
}

body{
    background-color:ghostwhite;
}

.nav__bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background:rgb(7, 159, 210);
    height: 10vh;
    width: 100%; 
    position: fixed;
   
}

.nav__btn{
    font-family: Georgia;
    padding-top: 3vh;
    padding-right: 3vw;
    padding-left: 3vw;
    font-size: 1.2rem;
    
}

.nav__btn:hover{
    background:springgreen; 
     
}

a{
    text-decoration: none; 
    color: black;
}
a:hover{
    color: red;
}
#see{
    font-family: georgia;
    font-size: medium;
    font-weight: 1.4rem;
    border:1px solid black;
    border-radius:10%;
    padding: 4px;
    color: black;
    background-color: rgb(5, 215, 145);
}
#see:hover{
    color: red;
}

.head{
    text-align: center;
    justify-content: space-evenly;
    padding-top: 5%;
    text-decoration: none;
    }

.head-myimg{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 70vw;
    height: 60vh;
    background-color: rgb(9, 191, 197);
    margin-bottom: 10vh;
    display: flex;
    margin-left: 15vw;
    margin-top: 10vh; 
    border-radius:1.5%;
    border: 1.3px solid black;
}

img{
    
    height: 50%;
    border-radius: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 40vh;
    width: 15vw;
    border: 2px solid rgb(145, 10, 163);
    margin-top:8vh;
    margin-left: 8vh;
}

.myimg{
    text-align: left;
    margin-left: 5vw;
}

.dispcription{
    margin-top:16vh;
    justify-content: center;
    margin-left: 10vw;
}

.discription h2{
    margin-top: 10vh;
    margin-top: 5vh;  
}

.contentclass{
     text-align: center;
     line-height:12vh;
     padding-left: 10%;
     padding-right: 10%;
     padding-bottom: 10%;  
}

.content{
    margin-bottom: 15px;
}

.title{
    border:1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
}

.title h3{
    font-size: 2rem;
    color: forestgreen;
    font-family:Georgia;
}
.title h3:hover{
    color:greenyellow;
}

.titlediscription{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.6s ease;
    padding-top: 1.4%;
}

.titlediscription ul{
    line-height: 8vh;
    text-align:left;
    font-size:1.2rem;
    border: 1px solid green;
    border-radius: 15px;
    font-family: georgia;
    padding-left: 5px;
    background-color: aqua;  
} 

.location i{
    width: 3vw;
    height: 6vh;
}

.social li{
   display: inline;
   margin-left: 18vw;
   padding-top: 10vh;
   cursor: pointer;  
}

.social i{
    height:20vh ;
    color: black;
    margin-top: 6vh;
}

.social i:hover{
    color:rgb(18, 39, 227);
}

.content.active .titlediscription{
    max-height: 400px;
    animation: fade 1s ease-in-out;
}

/* .content.active svg{
    transform: rotate(180deg);
}
.content.active .title svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.7s ease-in;
} */

.footer{
    background-color:rgb(27, 27, 186);
    height: 18vh;
    text-align: center;
    padding-top: 5vh;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}


/* mobile screen */
@media all and (max-width: 480px) { 
    img{
    
        height: 50%;
        border-radius: 30%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        height: 40vh;
        width: auto;
        border: 2px solid rgb(145, 10, 163);
        margin-top:8vh;
        margin-left: 8vh;
        margin-right: 8vh;
    }
    

    .head-myimg{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: auto;
        height: auto;
        background-color: rgb(9, 191, 197);
        margin-bottom: 10vh;
        display: flex;
        border-radius:1.5%;
        border: 1.3px solid black;
        flex-direction: column;
        margin-left: 15vw;
        margin-right: 15vw;
        padding: 25px;
        justify-self: center;
    }
    .dispcription{
        margin-top:16vh;
        justify-content: center;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .nav__bar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        background:rgb(7, 159, 210);
        height: 160px;
        width: 100%; 
        position: relative;
        align-items: center;
        padding: 20px;
        margin: none;
    }
    .nav__btn{
        font-family: Georgia;
        padding-top: 3vh;
        padding-right: 3vw;
        padding-left: 3vw;
        font-size: 1rem; 
    }
    .title h3{
        font-size: 1rem;
        color: forestgreen;
        font-family:Georgia;
    }
    .titlediscription ul{
        line-height: 8vh;
        text-align:left;
        font-size:.8rem;
        border: 1px solid green;
        border-radius: 15px;
        font-family: georgia;
        padding-left: 5px;
        background-color: aqua;  
    } 
    .footer{
        background-color:rgb(27, 27, 186);
        margin-right: 0;
        text-align: center;
        padding-top: 5vh;
    }
    
    

}
/* for tablet */
@media all and (min-width: 480px) and (max-width: 768px) {

    .head-myimg{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 70vw;
        height: 60vh;
        background-color: rgb(9, 191, 197);
        margin-bottom: 10vh;
        display: flex;
        margin-left: 15vw;
        margin-top: 10vh; 
        border-radius:1.5%;
        border: 1.3px solid black;
    }
    
    img{
        
        height: 50%;
        border-radius: 30%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        height: 40vh;
        width: 20vw;
        border: 2px solid rgb(145, 10, 163);
        margin-top:8vh;
        margin-left: 8vh;
    }
    
    .myimg{
        text-align: left;
        margin-left: 5vw;
    }
    
    .nav__btn{
    font-family: Georgia;
    padding-top: 3vh;
    padding-right: 3vw;
    padding-left: 3vw;
    font-size: 1rem;    
    }
    .title h3{
        font-size: 1.5rem;
        color: forestgreen;
        font-family:Georgia;
    }
    .title h3:hover{
        color:greenyellow;
    }
    
    .titlediscription{
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.6s ease;
        padding-top: 1.4%;
    }
    
    .titlediscription ul{
        line-height: 8vh;
        text-align:left;
        font-size:1rem;
        border: 1px solid green;
        border-radius: 15px;
        font-family: georgia;
        padding-left: 5px;
        background-color: aqua;  
    } 

 }
